<footer class="footer footer-center p-4 bg-base-100 text-base-content border-t">
  <aside class="w-full max-w-7xl mx-auto">
    <p><a href="#" class="link link-hover">お問い合わせ</a></p>
  </aside>
</footer>
